@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Karla', sans-serif;
}

html, body, #app {
    height: 100%;
}

.rad-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.rad {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}