.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    /* min-width: fit-content;  */
  }
  .app-btn {
    height: 3em;
    width: 11em;
    border: none;
    color: #F5F7FB;
    font-size: 1.5rem;
    cursor: pointer;
    background: #4D5B9E;
    border-radius: 15px;
    font-weight: 500;
    line-height: 1.1875em; /* 1.1875em*/
    font-family: 'Inter';
    font-style: normal;
    margin-top: 15px;
  }
  
  .app-btn:focus {
    outline: none;
  }
  
  .app-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  .start-app {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-name {
  
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 2.9295rem; /*1.953*/
    line-height: 1.175em;
    text-align: center;
  
    color: #293264;
    margin-bottom: 0.2222em; /*0.2222*/
  }
  
  .app-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.1875em;
    text-align: center;
  
    color: #293264;
    margin-bottom: 1.8125em; /* 1.8125 */
  }
  
  .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.625em;
  }
  .question-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.1875em;
    color: #293264;
  }
  .option-container {
    display: flex;
    justify-content: center;
    padding-bottom: 0.625em;
  }
  .option {
    display: flex;
    padding: 0 1.5em;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    border: 0.794239px solid #4D5B9E;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 1.2em;
    cursor: pointer;
  
    /* identical to box height */
    text-align: center;
  }
  
  .question > hr {
    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
  }
  .submit-btn {
    width: 12em;
    height: 3.5em;
    /* left: 215px; */
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
    color: #F5F7FB;
    font-size: 0.625rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.9em;
    font-family: 'Inter';
    font-style: normal;
    margin: 2em;
  }
  .submit-btn:focus {
    outline: none;
  }
  
  .submit-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .score {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8175rem;
    line-height: 1.154em;
    text-align: center;
  
    color: #293264;
  }
  .load {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 0.75em;
        text-align: center;
  
        color: #293264;
  }
  
  
  @media (min-width: 480px) {
    .app-btn {
      font-size: 1rem;
    }
    .app-name {
      font-size: 1.953rem;
    }
    .app-description {
      font-size: 1rem;
    }
    .button-container {
      flex-direction: row;
    }
    .question-text {
      font-size: 1rem;
    }
    .option {
      font-size: 0.625rem;
    }
  }
  .select-container {
    display: flex;
    flex-direction: column;
  }
  .select-container label {
    font-weight: bold;
    text-transform: uppercase;
  }
  .select-container label select, input {
    width: 100%;
    margin: 10px 0;
    border: 0.794239px solid #4D5B9E;
    border-radius: 8px;
    padding: 5px 0;
  }
  .select-container label input {
    width: 99%;
    padding-left: 5px;
  }
  .select-container label input:focus {
    outline: none;
  }
  .btns-container {
    display: flex;
    flex-direction: row;
  }